body {
  background-color: aliceblue;
}

header {
background-color: black;
color: white;
}

nav {
  margin: 15px;
}

li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  margin: 15px;
  border: 3px solid white;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}