.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#root {
  display: flex;
  height: 100vh;
  width: 100vw;

  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  overflow-y: scroll;
}


.item{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  width: 60vw;
}

.item-list{
  list-style: none;
}

.item-list li{
  margin-top: 5px;
}


/* Ejercicio 2 */

.half-container{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  color: white;
}

.half{
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.lightcoral{
  background-color: lightcoral;
}

.lightpink{
  background-color: lightpink;
}
