body {
  padding: 20px;
}
.button {
  background-color: blueviolet;
  color: white;
  border: 3px solid palevioletred;
  padding: 10px;
  border-radius: 20px;
}

.disabled {
  opacity: 0.5;
}

a {
  text-decoration: none;
}