.success {
    border: green 1px solid;
    background: greenyellow;
    color: forestgreen;
}

.error {
    border: red 1px solid;
    background: rgb(175, 98, 98);
    color: rosybrown;
}

.warning {
    border: yellow 1px solid;
    background: rgb(110, 119, 28);
    color: rgb(207, 207, 154);
}